@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
.quicksand {
  font-family: "Quicksand", sans-serif;
}

.scrollbar-small::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-small::-webkit-scrollbar-track {
  background-color: white;
}

.scrollbar-small::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 8px;
}

@theme {
  --filter-btn-bg: #ffffff;
  --filter-btn-color: #3bb77e;
  --filter-btn-hover: #253d4e;
  --soft-shadow: "01px2px0rgba(0,0,0,0.05)", "extra-soft": "0 1px 1px 0 rgba(0, 0, 0, 0.02)";
}

.softboxshadow {
  box-shadow: var(--soft-shadow);
}

.filterBtn {
  width: 110px;
  height: 46px;
  border-radius: 30px;
  background: var(--filter-btn-bg);
  align-items: center;
  justify-content: center;
  color: var(--filter-btn-color);
  font-size: 17px;
  font-weight: 600;
}

.filterBtn:hover {
  color: var(--filter-btn-hover);
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.active {
  background-color: #3bb77e;
  border-color: transparent !important;
  color: white;
  font-weight: 600;
}
